<<<<<<< HEAD
section{
    background-color: rgb(29, 109, 201);
    padding:5px;
}
/* bande du titre */
.bande_titre > :nth-child(1){
    position: relative;
    font-size: 8vw;
    
}
.bande_titre > :nth-child(1)::before {
    content: "";
    position: absolute;
    left: 4px;
    width: 20vw;
    height: 1vw;
    background: #175e70;
    bottom: -2px;
}

#qui_sommes-nous > div >div> div>img{
    width: 30%;

}

@media screen and (min-width : 1024px) {


    #qui_sommes-nous > div >div{
        display:flex;
        flex-direction: row-reverse;
        
         
    }


}
=======
>>>>>>> d1721884011d203b317be00a1935fd6fd9542366
