


#qui_sommes-nous > div >div> div>img{
    width: 30%;

}

@media screen and (min-width : 1024px) {


    #qui_sommes-nous > div >div{
        display:flex;
        flex-direction: row-reverse;
        
         
    }


}
